#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body{
  overflow-y: scroll;
}

@layer base {
  button {
    @apply px-4 py-2;
    @apply rounded border bg-gray-100 border-gray-900 hover:shadow-xl active:bg-gray-300;
    @apply focus:outline-none select-none;
  }
  .black {
    @apply bg-gray-900 border-gray-100;
    color: #d8e0e7;
  }
}
@layer components {
  button.black {
    @apply bg-gray-900 active:bg-gray-700;
  }
}
